

.bet365 {
    background-color: #118e67; /* Verde */
    color: white;
}

.kto {
    background-color: black;
    color: red;
}

.betano {
    background-color: rgba(255, 255, 255, 0.753); /* Branco translúcido */
    color: #ff3c00 !important; /* Laranja */
}

.betfair {
    background-color: #ffb80c; /* Amarelo */
    color: black;
}

.superbet {
    background-color: #e60000; /* Vermelho */
    color: white;
}

.magicjackpot {
    background-color: #9b4d96; /* Roxo */
    color: white;
}

.super {
    background-color: #00a859; /* Verde */
    color: white;
}

.reidopitaco {
    background-color: #ffcc00; /* Amarelo */
    color: black;
}

.pitaco {
    background-color: #ff4c00; /* Laranja */
    color: white;
}

.sportingbet {
    background-color: #0033cc; /* Azul */
    color: white;
}

.betboo {
    background-color: #ff6600; /* Laranja */
    color: white;
}

.caesars {
    background-color: #d4af37; /* Ouro */
    color: black;
}

.betnacional {
    background-color: #008000; /* Verde */
    color: white;
}

.mrjackbet {
    background-color: #1e1e1e; /* Cinza escuro */
    color: white;
}



.betsson {
    background-color: #ff0000; /* Vermelho */
    color: white;
}

.galera {
    background-color: #ffcc00; /* Amarelo */
    color: black;
}

.f12bet {
    background-color: #0033cc; /* Azul */
    color: white;
}

.luva {
    background-color: #ff4c00; /* Laranja */
    color: white;
}

.brasilbet {
    background-color: #008000; /* Verde */
    color: white;
}

.sportybet {
    background-color: #00a859; /* Verde */
    color: white;
}

.lancebet {
    background-color: #ff6600; /* Laranja */
    color: white;
}

.estrela {
    background-color: #0033cc; /* Azul */
    color: white;
}

.reals {
    background-color: #1e1e1e; /* Cinza escuro */
    color: white;
}

.ux {
    background-color: #ff4c00; /* Laranja */
    color: white;
}

.netpix {
    background-color: #00a859; /* Verde */
    color: white;
}

.seven {
    background-color: #ffcc00; /* Amarelo */
    color: black;
}

.betao {
    background-color: #0033cc; /* Azul */
    color: white;
}

.r7 {
    background-color: #ff4c00; /* Laranja */
    color: white;
}

.novibet {
    background-color: #1e1e1e; /* Cinza escuro */
    color: white;
}

.segurobet {
    background-color: #00a859; /* Verde */
    color: white;
}

.kingpanda {
    background-color: #ff6600; /* Laranja */
    color: white;
}

.ninef {
    background-color: #0033cc; /* Azul */
    color: white;
}

.sixr {
    background-color: #ffcc00; /* Amarelo */
    color: black;
}

.betapp {
    background-color: #1e1e1e; /* Cinza escuro */
    color: white;
}

.ijogo {
    background-color: #ff4c00; /* Laranja */
    color: white;
}

.fogo777 {
    background-color: #00a859; /* Verde */
    color: white;
}

.p9 {
    background-color: #0033cc; /* Azul */
    color: white;
}

.apostaganha {
    background-color: #ff6600; /* Laranja */
    color: white;
}

.brazino777 {
    background-color: #1e1e1e; /* Cinza escuro */
    color: white;
}

.play {
    background-color: #ffcc00; /* Amarelo */
    color: black;
}
