#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1050;
    
    /* Initially visible */
    opacity: 1;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}
#betsTable td:hover {
    cursor: pointer;
}

.skeleton-box {
    height: 20px;
    width: 100%;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: loadingAnimation 1.5s infinite;
    border-radius: 4px;
}

@keyframes loadingAnimation {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.skeleton-row td {
    padding: 10px;
}

#betCardsContainer {
    display: flex;
    flex-wrap: nowrap; /* Impede que os cards quebrem para a linha de baixo */
    gap: 15px; /* Espaçamento entre os cards */
    margin-bottom: 20px; /* Ajuste de margem entre cards e tabela */
}

.card {
    min-width: 250px; /* Tamanho mínimo para os cards */
    flex-shrink: 0; /* Impede o card de encolher */
}

/* Container com scroll */
.bet-cards-container {
    overflow-x: auto;
    padding-bottom: 5px;
    position: relative;
}

/* Barra de rolagem minimalista */
.bet-cards-container::-webkit-scrollbar {
    height: 7px;
}

.bet-cards-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

.bet-cards-container::-webkit-scrollbar-track {
    background: transparent;
}


.bootstrap-select .dropdown-toggle {
    background-color: #fff !important; 
    border: 1px solid #ced4da !important; 
}

.muilt {
    height: auto !important;  
    min-height: 38px;        
    padding-bottom: 5px;      
    overflow-y: visible !important;  
}
